In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv('questions.csv')
df.head()

   answer_id                                           question
0          1  What email address can I use for Azure for Edu...
1          1                       What is Azure for Education?
2          1                                     What is Azure?
3          1                       How do I register for Azure?
4          1                          What can I do with Azure?

In [3]:
# From https://towardsdatascience.com/5-simple-ways-to-tokenize-text-in-python-92c6804edfc4#33a2
cv = CountVectorizer(stop_words='english')
cv_matrix = cv.fit_transform(df['question'])

df_dtm = pd.DataFrame(cv_matrix.toarray(), columns=cv.get_feature_names_out())
df_dtm.head()

,address,advising,advisor,azure,bad,break,calendar,check,classes,cost,...,semester,spring,start,state,summer,talk,tuition,use,winter,wright
0,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0